<%= form_with(model: item, local: true) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.check_box :show_modal, id: 'show-modal-checkbox' %>
    <%= f.label :show_modal, "Show More Options" %>
  </div>

  <div id="hidden-modal" style="display: none;">
    <%= f.label :field1, "Additional Field 1" %>
    <%= f.text_field :field1 %>
    
    <%= f.label :field2, "Additional Field 2" %>
    <%= f.text_field :field2 %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
