<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Show modal:</strong>
    <%= item.show_modal %>
  </p>

  <p>
    <strong>Fiel1:</strong>
    <%= item.fiel1 %>
  </p>

  <p>
    <strong>Field2:</strong>
    <%= item.field2 %>
  </p>

</div>
